USE [master]
GO
/****** Object:  Database [DSRP_caso_mantenimiento_industrial]    Script Date: 16/12/2024 15:55:49 ******/
CREATE DATABASE [DSRP_caso_mantenimiento_industrial]
 
ALTER DATABASE [DSRP_caso_mantenimiento_industrial] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSRP_caso_mantenimiento_industrial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSRP_caso_mantenimiento_industrial]
GO
/****** Object:  Table [dbo].[Asignacion_tecnico]    Script Date: 16/12/2024 15:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignacion_tecnico](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mantenimiento_id] [int] NOT NULL,
	[tecnico_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 16/12/2024 15:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[per_contacto] [varchar](255) NOT NULL,
	[telefono] [varchar](255) NOT NULL,
	[correo] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contratos]    Script Date: 16/12/2024 15:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contratos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[servicio_incluido] [varchar](255) NOT NULL,
	[estado_contrato] [varchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[deleted_at] [datetime] NULL,
	[created_by] [int] NOT NULL,
	[updated_by] [int] NULL,
	[deleted_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 16/12/2024 15:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](255) NOT NULL,
	[modelo] [varchar](255) NOT NULL,
	[numero_serie] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenimientos]    Script Date: 16/12/2024 15:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contrato_id] [int] NOT NULL,
	[equipos_id] [int] NOT NULL,
	[fecha_programada] [date] NOT NULL,
	[fecha_ejecutada] [date] NOT NULL,
	[tipo_mantenimiento] [varchar](255) NOT NULL,
	[comentarios] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tecnicos]    Script Date: 16/12/2024 15:55:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnicos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tecnico_asignado] [varchar](255) NOT NULL,
	[especialidad] [varchar](255) NOT NULL,
	[telefono] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignacion_tecnico]  WITH CHECK ADD  CONSTRAINT [FK_Mantenimientos_Asignacion_Tecnico] FOREIGN KEY([mantenimiento_id])
REFERENCES [dbo].[Mantenimientos] ([id])
GO
ALTER TABLE [dbo].[Asignacion_tecnico] CHECK CONSTRAINT [FK_Mantenimientos_Asignacion_Tecnico]
GO
ALTER TABLE [dbo].[Asignacion_tecnico]  WITH CHECK ADD  CONSTRAINT [FK_Tecnicos_Asignacion_Tecnico] FOREIGN KEY([tecnico_id])
REFERENCES [dbo].[Tecnicos] ([id])
GO
ALTER TABLE [dbo].[Asignacion_tecnico] CHECK CONSTRAINT [FK_Tecnicos_Asignacion_Tecnico]
GO
ALTER TABLE [dbo].[Contratos]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Contratos] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Contratos] CHECK CONSTRAINT [FK_Clientes_Contratos]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Contratos_Mantenimientos] FOREIGN KEY([contrato_id])
REFERENCES [dbo].[Contratos] ([id])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Contratos_Mantenimientos]
GO
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_Mantenimientos] FOREIGN KEY([equipos_id])
REFERENCES [dbo].[Equipos] ([id])
GO
ALTER TABLE [dbo].[Mantenimientos] CHECK CONSTRAINT [FK_Equipos_Mantenimientos]
GO
USE [master]
GO
